@mixin logo($wid){
    width:100%;
    max-width: $wid;
    height: auto;
}

// media queries
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
 }
 @mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (max-width: 1025px) {
       @content; 
    }
 }
 @mixin for-desktop-up {
    @media (min-width: 1500px) { @content; }
 }
 // button
@mixin button-general($bg,$col,$shad){
    color: $col;
    background-color: $bg;
    box-shadow: $shad;
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}
// legende image services
 @mixin position-on-services(){
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
 }
 // liens sur le site
 @mixin link-on-site($color-link){
   text-decoration: none;
   color: $color-link;
 }
 @mixin services-img($image-size){
      height: $image-size;
      width:100%;
      overflow: hidden;
      border-radius:25px;
      box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 30%);
 }
