/* LOGO */
/* TEXT */
/* IMAGES */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 10px;
}

@font-face {
  font-family: "Roboto Regular";
  src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto//Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/Roboto//Roboto-Light.ttf);
}
body {
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
}

/* LOGO */
/* TEXT */
/* IMAGES */
nav {
  height: 150px;
}
nav .container-fluid a {
  font-size: 1.3rem;
}
@media (max-width: 599px) {
  nav .container-fluid a {
    text-align: center;
  }
}
nav .container-fluid a img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
@media (max-width: 599px) {
  nav .container-fluid button {
    margin: 10px auto 0;
  }
}

/* LOGO */
/* TEXT */
/* IMAGES */
header .jumbotron {
  background-color: #E2836C;
  border-radius: 15px;
  height: auto;
  max-height: 515px;
  overflow: hidden;
}
header .jumbotron .jumb-text h1 {
  font-size: 2.8rem;
  color: white;
}
header .jumbotron .jumb-text p {
  color: white !important;
}
header .jumbotron .jumb-text a {
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.41);
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
}

/* LOGO */
/* TEXT */
/* IMAGES */
.travel-services h2 {
  font-size: 3rem;
  color: black;
}
.travel-services .row .services-gallery {
  max-height: 470px !important;
  overflow: hidden;
  gap: 4px;
  padding: 5px;
}
@media (max-width: 599px) {
  .travel-services .row .services-gallery {
    max-height: 960px !important;
    gap: 8px;
  }
}
.travel-services .row .services-gallery .block-services {
  position: relative;
  margin: 0;
}
.travel-services .row .services-gallery .block-services img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.travel-services .row .services-gallery .block-services .legende-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
.travel-services .row .services-gallery .block-services p {
  font-size: 2rem;
  color: white;
  margin: 0;
}
.travel-services .row .services-gallery .block-services a {
  text-decoration: none;
  color: white;
}
.travel-services .row .services-gallery .little-img {
  height: 225px;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
}
@media (max-width: 599px) {
  .travel-services .row .services-gallery .little-img {
    height: 460px;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  }
}
.travel-services .row .services-gallery .big-img {
  height: 460px;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

section {
  margin: 50px auto;
}

/*# sourceMappingURL=style.css.map */
